COMPOSE_PROJECT_NAME=ghostfolio

# CACHE
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=<INSERT_REDIS_PASSWORD>

# POSTGRES
POSTGRES_DB=ghostfolio-db
POSTGRES_USER=user
POSTGRES_PASSWORD=<INSERT_POSTGRES_PASSWORD>

# VARIOUS
ACCESS_TOKEN_SALT=<INSERT_RANDOM_STRING>
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?connect_timeout=300&sslmode=prefer
JWT_SECRET_KEY=<INSERT_RANDOM_STRING>

TZ=UTC

# LANGFUSE
LANGFUSE_SECRET_KEY=<INSERT_LANGFUSE_SECRET_KEY>
LANGFUSE_PUBLIC_KEY=<INSERT_LANGFUSE_PUBLIC_KEY>
LANGFUSE_BASE_URL="https://us.cloud.langfuse.com"

# LANGSMITH
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<INSERT_LANGSMITH_API_KEY>
LANGSMITH_PROJECT=<INSERT_LANGSMITH_PROJECT>
